.App-logo {
    height: 40px;
    cursor: pointer;
}

.jumbotron {
    height: 188px;
    margin-bottom: -14px;
}

.App-logo:hover {
    height: 50px;
}

.App-title {    
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
}
  